* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;

    --semantic-error: #DC2626;

    --orange: #F9A474;
    --yellow: #FEDF6F;
    --green: #C7D78D;
    --blue: #B8CEDC;
    --violet: #C3B2E7;
    --pink: #F682A5;

    --font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    font-family: var(--font-family);
}

h1 {
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
}

h2{
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
}

h3, legend  {
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
}

label {
    color: var(--text-secondary);
}

small {
    color: #78716C;
}